@model IEnumerable<JuliePro.Models.Record>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#recordtable').DataTable();
        });
    </script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Locals["CreateNew"]</a>
</p>
<table class="table" id="recordtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                 <a asp-controller="Record"
                 asp-action="TrainerIndex"
                 asp-route-trainerId="@item.Trainer.Id">
                 @item.Trainer.FullName
                 </a>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Locals["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Locals["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
